body {
  height: 100%;
  min-width: 360px;
  margin: 0;
  padding: 0;
  background-color: #191919 !important;
}

li {
  margin: 10px;
  padding: 0;
}

iframe {
  border: 0;
  height: 100%;
  margin: 0;
  padding: 0;
}

/* avatar img */

.avatar img {
  object-fit: contain;
}

/* component animation */
.fade-in {
  opacity: 0;
}
.fade-in.visible {
  transition: opacity 1s ease-in;
  opacity: 1;
}

/* fixed footer */
.footer {
  min-width: 360px;
  z-index: 1000;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}
