body {
  height: 100%;
  min-width: 360px;
  margin: 0;
  padding: 0;
  background-color: #191919 !important;
}

li {
  margin: 10px;
  padding: 0;
}

iframe {
  border: 0;
  height: 100%;
  margin: 0;
  padding: 0;
}

/* avatar img */

.avatar img {
  object-fit: contain;
}

/* component animation */
.fade-in {
  opacity: 0;
}
.fade-in.visible {
  transition: opacity 1s ease-in;
  opacity: 1;
}

/* fixed footer */
.footer {
  min-width: 360px;
  z-index: 1000;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

/* buttons in Contact.js styles when hovered or focused */

a.hover {
  transition: all 0.4s ease;
  background-color: #191919;
}

a.hover:hover,
a.hover:focus {
  background-color: #eba300;
}

/* hover styles for buttons in Intro.js */

/* btn to project */
button.btnToProject {
  transition: all 0.4s ease;
  border: 1px solid #eba300;
}

button.btnToProject:hover,
button.btnToProject:focus {
  border: 1px solid #eba300;
  background-color: transparent;
}

/* btn to contact */

button.btnToContact {
  transition: all 0.4s ease;
  border: 1px solid #545b62;
}

button.btnToContact:hover,
button.btnToContact:focus {
  border: 1px solid #545b62;
  background-color: #6c757d;
}
